html
  head
    title Welcome
    script(src='javascripts/main.js')
    link(rel='stylesheet',href='stylesheet/style.css')
  body
    #content
      img(src='images/cailinLogo.tiff')
      p WELCOME
      #smile
